<launch>

   <node pkg="tf2_ros" type="static_transform_publisher" name="vehicle_to_camera_tf" 
        args="0.03 0 -0.41 0 -0.698132 0 base_frame camera_frame" /> 
   <node pkg="tf2_ros" type="static_transform_publisher" name="vehicle_to_alpha_base_tf" 
        args="0 0 0 0 0.0 0 base_frame alpha_base_frame" />
   <node pkg="tf2_ros" type="static_transform_publisher" name="camera_to_lens_base_tf" 
        args="0 0 0 1.5708 0 1.5708 camera_frame lens_frame" />

</launch>
